<h1>To Do</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>[<%= task.completed ? "X" : " "%>] <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<p><%= link_to "Add a new task", new_path %></p>
